# IDE
.idea

# python
__pycache__
.mypy_cache
.pytest_cache

# node
node_modules

# env
.env

# rsa keys
backend/equal-shares-api-public-key.pem
backend/equal-shares-api-private-key.pem

# macOS
.DS_Store